<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>377627301278-tq580ktegvnvt6p5ps6pt3b14rsltqra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377627301278-tq580ktegvnvt6p5ps6pt3b14rsltqra</string>
	<key>API_KEY</key>
	<string>AIzaSyAktPu_PZ92NbiD9htSzxQdoUfu74ghxF8</string>
	<key>GCM_SENDER_ID</key>
	<string>377627301278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.prototype1</string>
	<key>PROJECT_ID</key>
	<string>zam-vibe</string>
	<key>STORAGE_BUCKET</key>
	<string>zam-vibe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377627301278:ios:eaf7f18ed6e82f5e</string>
	<key>DATABASE_URL</key>
	<string>https://zam-vibe.firebaseio.com</string>
</dict>
</plist>